.specs-card {
    height: 120px !important;
}

.document-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.document-list li {
    padding: 5px;
    transition: all 0.5s ease-out;
}

.document-list a {
    color: inherit;
    text-decoration: none;
}

.document-list li:hover {
    background-color: #F0F0F0;
}